Sign Up:

<form method="SIGNUP" action="/sign_up_form">
	<label for="first Name">First Name</label>
	<input type="text" name="First_name">
	<label for="last Name">Last Name</label>
	<input type="text" name="Last_name">
	<label for="user Name">User Name</label>
	<input type="text" name="User_name">
	<label for="password"> Password</label>
	<input type="text" name="password">
	<input type="submit">
</form>
